:root {
  --lightest: #e4d4c8;
  --light: #ac9485;
  --medium: #8e7161;
  --dark: #29190e;
  --highlight: #800000;
}

.monster-list {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px 15px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(67, 1fr);
  margin: auto;
  max-width: 900px;
}

.monster-tag {
  align-items: center;
  background-color: var(--highlight);
  border-radius: 5px;
  box-shadow: -1px -1px 3px var(--light),
    3px 3px 5px var(--dark);
  color: var(--lightest);
  display: flex;
  font-size: medium;
  font-weight: 400;
  height: 80%;
  justify-content: center;
  margin: .3em;
  padding: .3em;
  text-shadow: 3px 3px 4px var(--dark);
  transition: 200ms;
}

.monster-tag:hover {
  background-color: #680101;
  color: var(--lightest);
  cursor: pointer;
  font-weight: 600;
  transform: scale(1.03);
  transition: 200ms;
}

.monster-tag:active {
  border-top: #ac9485 solid 1px;
  border-left: #ac9485 solid 1px;
  border-bottom: none;
  border-right: none;
}

@media only screen and (max-width: 500px) {
  .monster-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .monster-tag {
    display: flex;
    font-size: large;
    font-weight: 500;
    height: 25px;
    width: 300px;
  }
} 

/* -----TABLET----- */
@media only screen and (min-width: 501px) and (max-width: 1199px) {
  .monster-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 8600px;
  }

  .monster-tag {
    display: flex;
    font-size: large;
    font-weight: 500;
    height: 25px;
    width: 200px;
  }
}