:root {
  --lightest: #e4d4c8;
  --light: #ac9485;
  --medium: #8e7161;
  --dark: #29190e;
  --highlight: #800000;
}

.monster-list {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px 15px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(67, 1fr);
  margin: auto;
  max-width: 900px;
}

.monster-tag {
  align-items: center;
  background-color: var(--highlight);
  border-radius: 5px;
  box-shadow: -1px -1px 3px var(--light),
    3px 3px 5px var(--dark);
  color: var(--lightest);
  display: flex;
  font-size: medium;
  font-weight: 400;
  height: 80%;
  justify-content: center;
  margin: .3em;
  padding: .3em;
  text-shadow: 3px 3px 4px var(--dark);
  transition: 200ms;
}

.monster-tag:hover {
  background-color: #680101;
  color: var(--lightest);
  cursor: pointer;
  font-weight: 600;
  transform: scale(1.03);
  transition: 200ms;
}

.monster-tag:active {
  background-color: var(--lightest);
  box-shadow: -1px -1px 3px var(--dark),
    3px 3px 5px var(--light) inset;
  color: var(--dark);
  outline: none;
}