:root {
  --lightest: #e4d4c8;
  /* --light: #ac9485; */
  /* --medium: #8e7161; */
  --dark: #29190e;
  --highlight: #800000;
}

.header { 
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
  font-weight: 600;
  height: 290px;
  justify-content: center;
  margin: auto;
  width: 1200px;
}

.title {
  align-items: center;
  background-color: var(--highlight);
  border-radius: 0 0 20px 20px;
  display: flex;
  font-family: 'Dokdo', sans-serif;
  justify-content: space-around;
  width: 1090px;
}

.app-name {
  font-size: 38px;
  margin: auto;
  text-shadow: 5px 5px 2px var(--dark);
  transform: scaleY(1.8);
}

.dragon {
  height: 200px;
  width: auto;
}

.dice {
  height: 25px;
  width: auto;
}

.nav-button {
  height: 50px;
  margin: 0 .5em;
  width: 250px;
}

.nav-button :hover {
  cursor: pointer;
}

.nav-button :active {
  background-color: var(--lightest);
  color: var(--dark);
}

/* -----NAVIGATION----- */
.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: .8em 0;
}

/* -----SEARCH----- */
.search-field {
  display: flex;
  grid-column: 1;
  margin: 0 2px 0 2px;
  width: 100%;
}

.search-input {
  background-color: var(--lightest);
  border: 2px solid var(--lightest);
  border-radius: 10px 0 0 10px;
  cursor: text !important;
  margin: 0;
  padding: 0 0 0 10%;
  width: 100%;
}

::placeholder {
  color: var(--dark);
  font-size: medium;
}

.search-btn {
  background-color: var(--highlight);
  border: 2px solid var(--lightest);
  border-left: 0;
  border-radius: 0 10px 10px 0;
  color: var(--lightest);
  height: 50px;
  margin: 0;
}

/* -----SHOW ALL----- */
.show-all-btn {
  background-color: var(--highlight);
  border: 2px solid var(--lightest);
  border-radius: 10px;
  color: var(--lightest);
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
  font-weight: 700;
  grid-column: 2;
  height: 100%;
  margin: 0 2px 0 2px;
  width: 100%;
}

/* -----FILTER----- */
.filter-form {
  display: flex;
  grid-column: 3;
  height: 100%;
  margin: 0 2px 0 2px;
}

.filter-label {
  align-items: center;
  background-color: var(--highlight);
  border: 2px solid var(--lightest);
  border-radius: 10px 0 0 10px;
  color: var(--lightest);
  display: flex;
  font-size: medium;
  justify-content: center;
  width: 100%;
  cursor: default!important;
}

.filter-select{
  background-color: var(--lightest);
  border: 2px solid var(--lightest);
  border-left: 0;
  border-right: 0;
  color: var(--dark);
  z-index: 1;
}

.filter-button {
  background-color: var(--highlight);
  border: 2px solid var(--lightest);
  border-left: 0;
  border-radius: 0 10px 10px 0;
  width: 45px;
  z-index: 1;
}

/* -----ENCOUNTER----- */
.encounter-button {
  align-items: center;
  background-color: var(--highlight);
  border: 2px solid var(--lightest);
  border-radius: 10px;
  color: var(--lightest);
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
  grid-column: 4;
  height: 91%;
  justify-content: center;
  margin: 0 2px 0 2px;
  width: 98%;
}