.monster-stats {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: left;
    width: 80%;
    margin: auto;
}

.stat-detail {
    font-size: small;
    margin: .5em .5em .5em 1.5em;
    background-color: #29190e;
    color: #e4d4c8;
    padding: .5em;
    line-height: 1.4;
    border-radius: 2px;
    box-shadow: 1px 1px #e4d4c8;
}

.one-stat {
    font-size: medium;
    text-shadow: 1px 1px #29190e;
    background-color: #800000;
    color: #e4d4c8;
    margin: .3em;
    border-radius: 2px;
    padding: .3em;
    border-bottom: #ac9485 solid 1px;
    border-right: #ac9485 solid 1px;
}

.one-stat span {
    font-size: small;
}

.name {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.type {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-right: none;
}

.subtype {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.xp {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}

.hit-dice {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border-bottom: none;
}

.hit-points {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.armor-class {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.size {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.alignment {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.actions {
    grid-column: 2 / 6;
    grid-row: 13 / 20;
}

.condition-immunities {
    grid-column: 2 / 4;
    grid-row: 4;
}

.charisma {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.constitution {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.damage-immunities {
    grid-column: 4 / 6;
    grid-row: 4;
}

.damage-resistances {
    grid-column: 4 / 6;
    grid-row: 5;
}

.damage-vulnerabilities {
    grid-column: 4 / 6;
    grid-row: 6;
}

.dexterity {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}

.intelligence {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
}

.strength {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
}

.wisdom {
    grid-column: 1 / 2;
    grid-row: 9 / 10;
}