.search-field {
  height: 1.5rem;
  display: flex;
  margin: 1%;
}

.search-input,
.search-btn {
  margin: 0;
  box-sizing: content-box;
  height: 100%;
  border-radius: 10px 0 0 10px;
  border: 2px solid #ac9485;
}

.search-btn {
  border-radius: 0 10px 10px 0;
  border-left: 0;
  background-color: #b34ec3;
}