@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Montserrat:wght@100;300;400;600&display=swap');

/* 
#e4d4c8 
#ac9485     
#8e7161     
#800000     
#29190e 
font-family: 'Dokdo', cursive;
*/


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #29190e;
  color: #e4d4c8;
}

a {
  text-decoration: none;
  color: #e4d4c8;
}
